<div class="home-header">
  <div
    class="container"
    fxLayout="row"
    fxLayout.sm="row"
    fxLayout.xs="row"
    fxLayoutGap="20px"
    fxlayoutalign="space-between center"
  >
    <div class="logo" style="width: 10%">
      <a [routerLink]="['/']" routerLinkActive="router-link-active"
        ><img src="assets/images/logo-01.jpeg"
      /></a>
    </div>
    <div fxflexoffset.gt-sm="10" fxFlex class="search-form" style="width: 80%">
      <form class="search-form" fxLayout="row">
        <div class="form-wrap">
          <mat-form-field appearance="fill" class="ml-10" style="width: 20%">
            <mat-label> Location</mat-label>
            <mat-select [(value)]="selectedLocation">
              <mat-option *ngFor="let location of locations" [value]="location">
                {{ location }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" class="ml-10" style="width: 20%">
            <mat-label>Category</mat-label>
            <mat-select [(value)]="selectedCategory">
              <mat-option
                *ngFor="let category of categories"
                [value]="category"
              >
                {{ category }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="ml-10" style="width: 30%">
            <input
              matInput
              placeholder="Tutor Name "
              name="name"
              [(ngModel)]="tutorName"
            />
          </mat-form-field>
          <button class="btn-search" type="submit" (click)="Search()">
            Search
          </button>
        </div>
      </form>
    </div>
    <div
      class="call-bucket-wrap"
      fxLayout="row"
      fxLayout.sm="row"
      fxLayoutAlign="center center"
      style="width: 10%"
    >
      <div
        class="main-menu-wrapper-2"
        fxLayout="row"
        fxLayoutAlign="space-between center"
      >
        <div class="widget-text">
          <a
            fxShow="false"
            fxShow.gt-xs
            [routerLink]="['/register']"
            routerLinkActive="router-link-active"
            ><mat-icon>person</mat-icon>Register</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<div class="menu-container1"></div>
