<footer class="footer sec-padding">
  <div class="container">
      <div class="footer-wrapper" fxLayout="row wrap" fxLayoutAlign="space-between start">
        <div fxFlex="100" fxFlex.gt-sm="30" fxFlex.sm="50" class="footer-widget about-widget">

          <div class="title">
            <h5>About Us</h5>
          </div>
          <p>Last Minute Daycare Staffing is a temporary staffing agency owned and operated by an experienced childcare owner/director. LMDS is located in Central Florida and is dedicated to serving daycares and preschools in most of Central Florida’s counties.

            Our goal is to help daycares and preschools stay in compliance by filling their last minute staffing needs with loving, dedicated and qualified teachers.</p>
        </div>

          <div fxFlex="100" fxFlex.gt-sm="23" fxFlex.sm="50" ngClass.xs="mt-2" class="footer-widget links-widget links-widget-pac">
            <div class="title">
              <h5>Services</h5>
            </div>
            <div class="row">
                <ul>
                  <li><a href="#">Last minute daycare staffing</a></li>
                  <li><a href="#">CDA Consulting</a></li>
                  <li><a href="#">Professional Development Specialist</a></li>
                  <li><a href="#">Tutoring for 40 hours testing</a></li>
                  <li><a href="#">Permanent staffing referral</a></li>
                </ul>
            </div>
          </div>

          <div fxFlex="100" fxFlex.gt-sm="23" fxFlex.sm="50" ngClass.sm="mt-2" ngClass.xs="mt-2" class="footer-widget subscribe-widget">
            <div class="title">
              <h5>Contact Us</h5>
            </div>
            <div fxLayout="row" class="tel-box">
              <div class="icon"><i class="fa fa-map-marker"></i></div>
              <div class="text">
                <p>PO Box 834</p>
                <p>Groveland, Florida 34736, USA</p>
              </div>
            </div>
            <div fxLayout="row" class="tel-box">
              <div class="icon"><i class="fa fa-phone"></i></div>
              <div class="text">
                <p>(407) 989 0881</p>
              </div>
            </div>
            <div fxLayout="row" class="tel-box">
              <div class="icon"><i class="fa fa-envelope"></i></div>
              <div class="text">
                <p><a href="#">lastminutedaycarestaffing@gmail.com</a></p>
              </div>
            </div>

            <ul fxLayout="row" class="social list-inline">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>






      </div>
  </div>
</footer>
